
@keyframes ldio-q0hhrwy7lcn {
  0% { transform: rotate(0) }
  100% { transform: rotate(360deg) }
}
.ldio-q0hhrwy7lcn div { box-sizing: border-box!important }
.ldio-q0hhrwy7lcn > div {
  position: absolute;
  width: 93.60000000000001px;
  height: 93.60000000000001px;
  top: 18.2px;
  left: 18.2px;
  border-radius: 50%;
  border: 10.4px solid #000;
  border-color: #06183a transparent #06183a transparent;
  animation: ldio-q0hhrwy7lcn 1s linear infinite;
}

.ldio-q0hhrwy7lcn > div:nth-child(2), .ldio-q0hhrwy7lcn > div:nth-child(4) {
  width: 70.2px;
  height: 70.2px;
  top: 29.900000000000002px;
  left: 29.900000000000002px;
  animation: ldio-q0hhrwy7lcn 1s linear infinite reverse;
}
.ldio-q0hhrwy7lcn > div:nth-child(2) {
  border-color: transparent #e76a24 transparent #e76a24
}
.ldio-q0hhrwy7lcn > div:nth-child(3) { border-color: transparent }
.ldio-q0hhrwy7lcn > div:nth-child(3) div {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: rotate(45deg);
}
.ldio-q0hhrwy7lcn > div:nth-child(3) div:before, .ldio-q0hhrwy7lcn > div:nth-child(3) div:after { 
  content: "";
  display: block;
  position: absolute;
  width: 10.4px;
  height: 10.4px;
  top: -10.4px;
  left: 31.200000000000003px;
  background: #06183a;
  border-radius: 50%;
  box-shadow: 0 83.2px 0 0 #06183a;
}
.ldio-q0hhrwy7lcn > div:nth-child(3) div:after {
  left: -10.4px;
  top: 31.200000000000003px;
  box-shadow: 83.2px 0 0 0 #06183a;
}

.ldio-q0hhrwy7lcn > div:nth-child(4) { border-color: transparent; }
.ldio-q0hhrwy7lcn > div:nth-child(4) div {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: rotate(45deg);
}
.ldio-q0hhrwy7lcn > div:nth-child(4) div:before, .ldio-q0hhrwy7lcn > div:nth-child(4) div:after {
  content: "";
  display: block;
  position: absolute;
  width: 10.4px;
  height: 10.4px;
  top: -10.4px;
  left: 19.5px;
  background: #e76a24;
  border-radius: 50%;
  box-shadow: 0 59.800000000000004px 0 0 #e76a24;
}
.ldio-q0hhrwy7lcn > div:nth-child(4) div:after {
  left: -10.4px;
  top: 19.5px;
  box-shadow: 59.800000000000004px 0 0 0 #e76a24;
}
.loadingio-spinner-double-ring-c96s7wqdnjr {
  width: 130px;
  height: 130px;
  display: inline-block;
  overflow: hidden;
  background: #f1f2f3;
}
.ldio-q0hhrwy7lcn {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-q0hhrwy7lcn div { box-sizing: content-box; }
